<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.mapper.InterestSaleMapper">

    <insert id = "insertInterest" parameterType="map">
        insert into interest_sale_tb(user_id, aptCode) values(#{userId}, #{aptCode})
    </insert>
    <delete id = "deleteInterest" parameterType="map">
        delete from interest_sale_tb where user_id=#{userId} and aptCode=#{aptCode}
    </delete>
    <select id = "getUserInterestList" parameterType="string" resultType="InterestSaleInfo">
        select avgDealAmount, avgArea, i.aptCode aptCode, apartmentName aptName, address
        from interest_sale_tb i inner join
            (select round(avg(hd.dealAmount), 3) avgDealAmount, round(avg(hd.area)) avgArea, hd.aptCode, tmp.apartmentName apartmentName, address
                                from housedeal hd inner join (SELECT hi.aptCode, hi.apartmentName, concat(sidoName," ",gugunName, " ",dong, " ",roadName," ",jibun)  address
                                                                FROM houseinfo hi
                                                                INNER JOIN dongcode dc ON hi.dongCode = dc.dongCode
                                                            ) tmp on tmp.aptCode = hd.aptCode group by hd.aptCode
                            ) tmp2 on i.aptCode = tmp2.aptCode
        where i.user_id = #{userId}
    </select>
    <select id = "getInterests" parameterType="string" resultType="InterestSaleDTO">
        select * from interest_sale_tb where user_id = #{userId};
    </select>

</mapper>