<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.mapper.InterestSaleMapper">

    <insert id = "insertInterest" parameterType="map">
        insert into interest_sale_tb(user_id, aptCode) values(#{userId}, #{aptCode})
    </insert>
    <delete id = "deleteInterest" parameterType="map">
        delete from interest_sale_tb where user_id=#{userId} and aptCode=#{aptCode}
    </delete>
    <select id = "getUserInterestList" parameterType="string" resultType="InterestSaleInfo">
      select round(avg(hd.dealAmount), 3) avgDealAmount, round(avg(hd.area)) avgArea, hi.aptCode aptCode, apartmentName aptName, concat(sidoName," ",gugunName, " ",dong, " ",roadName," ",jibun)  address
      from interest_sale_tb i inner join houseinfo hi on i.aptCode = hi.aptCode inner join housedeal hd on hd.aptCode = hi.aptCode left join dongcode dc on dc.dongCode = hi.dongCode
      where i.user_id = #{userId}
      group by hi.aptCode;
    </select>
    <select id = "getInterests" parameterType="string" resultType="InterestSaleDTO">
        select * from interest_sale_tb where user_id = #{userId};
    </select>

</mapper>