<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.mapper.UserMapper">
    <select id="login" parameterType="LoginDto" resultType="User">
        select user_id userId, password from user_tb where user_id = #{userId} and password = #{password}
    </select>

    <insert id="join" parameterType="User">
        insert user_tb (user_id, password, name, phone, address, email) values (#{userId}, #{password}, #{name}, #{address}, #{phone}, #{email})
    </insert>

    <select id="findUserByUserId" parameterType="String" resultType="User">
        select user_id userId, name, role, address, phone from user_tb where user_id = #{userId}
    </select>

    <delete id="delete" parameterType="String">
        delete from user_tb where user_id = #{userId}
    </delete>

    <update id="modify" parameterType="UserModifyRequestDto">
        update user_tb set user_id = #{userId}, username= #{username}, address = #{address} where user_id = #{userId}
    </update>

    <select id="getRefreshToken" parameterType="string" resultType="string">
        select token
        from user_tb
        where user_id = #{user_id}
    </select>

    <update id="saveRefreshToken" parameterType="map">
        update user_tb
        set token = #{token}
        where user_id = #{user_id}
    </update>

    <update id="deleteRefreshToken" parameterType="map">
        update user_tb
        set token = #{token, jdbcType=VARCHAR}
        where user_id = #{user_id}
    </update>

</mapper>