<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.mapper.UserMapper">
    <select id="login" parameterType="LoginDto" resultType="User">
        select user_id, name from user_tb where user_id = #{userId} and password = #{password}
    </select>

    <insert id="join" parameterType="JoinDto">
        insert into user_tb values (null, #{userId}, #{password}, #{username}, #{address})
    </insert>

    <select id="findUserByUserId" parameterType="String" resultType="int">
        select count(*) from user_tb where user_id = #{userid}
    </select>

    <delete id="delete" parameterType="String">
        delete from user_tb where user_id = #{userId}
    </delete>

    <update id="modify" parameterType="UserModifyRequestDto">
        update user_tb set user_id = #{userId}, name= #{username}, address = #{address} where user_id = #{userId}
    </update>


</mapper>